<app-nav ></app-nav>


<div class="w-full h-full relative pt-16 ">
    <div class="flex flex-no-wrap">
        <app-menu class=" "></app-menu>
        <!-- Main content   -->
        <div class="container mx-auto  h-64 ">
            <div class="w-full h-full rounded ">
                      
                
                <app-maincontent     (click)="subContentClose()"        class=""></app-maincontent>


              
            </div>



         
        <!-- Panel -->
        <section
           *ngIf="showContent"
         
            class="fixed inset-y-0 right-0 z-9  pt-16    max-w-sm w-full shadow-lg bg-white shadow-lg  bg-darker dark:text-light focus:outline-none"
            aria-labelledby="settinsPanelLabel"
           
           
        
        
        >
            <div class="absolute left-0 p-2 transform -translate-x-full"
            >
            <!-- Close button -->
            <button
            (click)="subContentClose()"
                class="p-2 text-gray-500   rounded-md focus:outline-none hover:ring hover:outline-none   focus:ring"
            >
                <svg
                class="w-5 h-5"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            </div>
            <!-- Panel content -->
            <app-secondcontent ></app-secondcontent>
        </section>
        </div>
  














        
    </div>



    
</div>

