@tailwind base;
@tailwind components;
@tailwind utilities;

.cstnv{
    background-color: #2DCC00;
    color: #FFF;
    padding-top: 0px;

}

.avtrcs{
   margin-top: 0px;
 margin-right: 8px;
}


.mycsp{
    margin-top: 110px;
 
 }

 .myhover{
    border-color: rgb(66 32 6);;
 }



 .logo{
    height: 50px;
 }