<!-- component -->
<nav class="  w-full flex relative justify-between items-center mx-auto px-8 h-16 cstnv">
  <!-- logo -->
  <div class="inline-flex">
      <a class="_o6689fn" href="/"
          >


          <img  class=" logo"  src="../../../assets/logo.png" alt="">
      </a>
  </div>

  <!-- end logo -->
  <div class="flex mr-4 items-center">

    <a class="inline-block py-2 px-3 
    hover:shadow-lg 
    hover:bg-white
    hover:text-gray-500
    rounded-full" href="#">
      <div class="flex items-center relative cursor-pointer whitespace-nowrap">Become a host</div>
    </a>
<a class="inline-block py-2 px-3 
    hover:shadow-lg 
    hover:bg-white
    hover:text-gray-500
    rounded-full" href="#">
      <div class="flex items-center relative cursor-pointer whitespace-nowrap">Become a host</div>
    </a>


    <a class="inline-block py-2 px-3 
    hover:shadow-lg 
    hover:bg-white
    hover:text-gray-500
    rounded-full" href="#">
      <div class="flex items-center relative cursor-pointer whitespace-nowrap">Become a host</div>
    </a>
    
  </div>
  <!-- search bar -->
  <div class="hidden sm:block flex-shrink flex-grow-0 justify-start py-0,5">
      <div class="inline-block">
          <div class="inline-flex items-center max-w-full">
            <button class="flex items-center w-60 px-1 py-0.5  
             bg-white text-gray-500
             hover:shadow-lg 
              rounded-full border
                
                
                " type="button">

                  <div class="block flex-grow flex-shrink overflow-hidden">Start your search</div>
                  <div class="flex items-center justify-center relative  h-8 w-8 rounded-full">
                      <svg
                          viewBox="0 0 32 32"
                          xmlns="http://www.w3.org/2000/svg"
                          aria-hidden="true"
                          role="presentation"
                          focusable="false"
                          style="
                              display: block;
                              fill: none;
                              height: 12px;
                              width: 12px;
                              stroke: currentcolor;
                              stroke-width: 5.33333;
                              overflow: visible;
                          "
                      >
                          <g fill="none">
                              <path
                                  d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9"
                              ></path>
                          </g>
                      </svg>
                  </div>
              </button>




          </div>
      </div>
  </div>
  <!-- end search bar -->

  <!-- login -->
 
  <!-- end login -->
  











<div class=" p-4 flex justify-center items-center flex-wrap">
 

  <div class=" p-4 flex justify-center items-center flex-wrap">
   

















  <div>

    <div>
      <span class="relative inline-block ml-8 ">
        <svg class="w-6 h-6 text-white fill-current " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M447.1 .0041h-384c-35.25 0-64 28.75-64 63.1v287.1c0 35.25 28.75 63.1 64 63.1h96v83.99c0 9.75 11.25 15.45 19.12 9.7l124.9-93.69h144c35.25 0 64-28.75 64-63.1V63.1C511.1 28.75 483.2 .0041 447.1 .0041zM320 112c17.75 0 31.1 14.25 31.1 32s-14.25 31.1-32 31.1S288 161.8 288 144S302.3 112 320 112zM192 112c17.75 0 31.1 14.25 31.1 32S209.8 175.1 192 175.1S160 161.8 160 144S174.3 112 192 112zM362.3 271.3c-26.5 31-65.14 48.74-106.3 48.74c-41.12 0-79.72-17.74-106.2-48.74c-8.5-10-7.5-25.12 2.625-33.75c9.998-8.5 25.25-7.375 33.87 2.75C203.5 260.4 228.9 272 256 272c27.12 0 52.49-11.62 69.74-31.75c8.623-10.12 23.75-11.38 33.74-2.75C369.6 246.1 370.8 261.3 362.3 271.3z"/>
        </svg>
      
        <span class="absolute top-0 right-0 inline-flex items-center justify-center px-1 py-1 text-xs  leading-none text-red-100 transform translate-x-1/2 -translate-y-1/2 bg-red-500 rounded-full">99</span>
      </span>
    </div>
  
   <!--
      <span class="ml-4 text-xs">Reports</span>
      -->
    </div>












    <div>

      <div>
        <span class="relative inline-block ml-8 ">
          <svg class="w-6 h-6 text-white fill-current " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128z"/>
          </svg>
        
          <span class="absolute top-0 right-0 inline-flex items-center justify-center px-1 py-1 text-xs  leading-none text-red-100 transform translate-x-1/2 -translate-y-1/2 bg-red-500 rounded-full">99</span>
        </span>
      </div>
      <!--
      <span class="ml-4 text-xs">Reports</span>
      -->
      </div>
    








    <div>

      <div>
        <span class="relative inline-block ml-8 ">
          <svg class="w-6 h-6 text-white fill-current  " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path d="M57.7 193l9.4 16.4c8.3 14.5 21.9 25.2 38 29.8L163 255.7c17.2 4.9 29 20.6 29 38.5v39.9c0 11 6.2 21 16 25.9s16 14.9 16 25.9v39c0 15.6 14.9 26.9 29.9 22.6c16.1-4.6 28.6-17.5 32.7-33.8l2.8-11.2c4.2-16.9 15.2-31.4 30.3-40l8.1-4.6c15-8.5 24.2-24.5 24.2-41.7v-8.3c0-12.7-5.1-24.9-14.1-33.9l-3.9-3.9c-9-9-21.2-14.1-33.9-14.1H257c-11.1 0-22.1-2.9-31.8-8.4l-34.5-19.7c-4.3-2.5-7.6-6.5-9.2-11.2c-3.2-9.6 1.1-20 10.2-24.5l5.9-3c6.6-3.3 14.3-3.9 21.3-1.5l23.2 7.7c8.2 2.7 17.2-.4 21.9-7.5c4.7-7 4.2-16.3-1.2-22.8l-13.6-16.3c-10-12-9.9-29.5 .3-41.3l15.7-18.3c8.8-10.3 10.2-25 3.5-36.7l-2.4-4.2c-3.5-.2-6.9-.3-10.4-.3C163.1 48 84.4 108.9 57.7 193zM464 256c0-36.8-9.6-71.4-26.4-101.5L412 164.8c-15.7 6.3-23.8 23.8-18.5 39.8l16.9 50.7c3.5 10.4 12 18.3 22.6 20.9l29.1 7.3c1.2-9 1.8-18.2 1.8-27.5zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/>
          </svg>
        
          <span class="absolute top-0 right-0 inline-flex items-center justify-center px-1 py-1 text-xs  leading-none text-red-100 transform translate-x-1/2 -translate-y-1/2 bg-red-500 rounded-full">99</span>
        </span>
      </div>
    <!--
 <span class="ml-4 text-xs">notefications</span>
    -->
     
      </div>







     
  </div>

  <div class="block">
    <div class="inline relative">
        <button type="button" class="inline-flex items-center relative px-1 border  hover:border-slate-500
        rounded-full 
        hover:shadow-lg 
        hover:bg-white
        hover:text-gray-500
        py-0.5
        
          
          
          "
          >
            <div class="pl-1">
                <svg
                    viewBox="0 0 32 32"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    role="presentation"
                    focusable="false"
                    style="display: block; fill: none; height: 16px; width: 16px; stroke: currentcolor; stroke-width: 3; overflow: visible;"
                >
                    <g fill="none" fill-rule="nonzero">
                        <path d="m2 16h28"></path>
                        <path d="m2 24h28"></path>
                        <path d="m2 8h28"></path>
                    </g>
                </svg>
            </div>


            






            <div class="pl-1">
              <div class="flex items-center justify-center w-8 h-8                 mx-2 overflow-hidden rounded-full    avtrcs">
                <img src="https://images.unsplash.com/photo-1548544149-4835e62ee5b3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=100&q=80">
              </div>
          </div>







            
        </button>
    </div>
</div>

</div>

</nav>
